# Berlin Building Completions (source-aligned) - Sample Notebook

## Explore data

In [1]:

import pandas as pd        

# Read csv file
dataframe = pd.read_csv("./data/03-gold/berlin-building-completions-2023-00-csv/berlin-building-completions-2023-00-23-outflow-of-all-buildings-complete-districts-districts.csv")

In [2]:

# Display 5 first rows
dataframe.head()

   id  ... non_residential_buildings_usage_area
0   1  ...                                 36.1
1   2  ...                                  4.4
2   3  ...                                 21.4
3   4  ...                                  6.5
4   5  ...                                  8.8

[5 rows x 7 columns]

In [3]:

# Display dataframe info
dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 7 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   id                                    12 non-null     int64
 1   residential_buildings                 12 non-null     object
 2   residential_buildings_apartments      12 non-null     object
 3   residential_buildings_usage_area      12 non-null     object
 4   non_residential_buildings             12 non-null     int64
 5   non_residential_buildings_apartments  12 non-null     object
 6   non_residential_buildings_usage_area  12 non-null     float64
dtypes: float64(1), int64(2), object(4)
memory usage: 804.0+ bytes

In [4]:

# Describe dataframe
dataframe.describe()

              id  ...  non_residential_buildings_usage_area
count  12.000000  ...                             12.000000
mean    6.500000  ...                             22.308333
std     3.605551  ...                             25.498715
min     1.000000  ...                              4.400000
25%     3.750000  ...                              8.225000
50%     6.500000  ...                             12.200000
75%     9.250000  ...                             25.075000
max    12.000000  ...                             93.100000

[8 rows x 3 columns]